pandas
numpy
matplotlib
seaborn
plotly
folium
scikit-learn
lightgbm
xgboost
catboost
requests
beautifulsoup4
fastapi
uvicorn
streamlit
streamlit-folium
joblib
shap
geopy
kaggle
python-dotenv
google-generativeai
torch